body {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track-piece {
    background-color:lightgray;
}
::-webkit-scrollbar-thumb {
    background-color: #77777A;
}
#definition-container {
    height: 100%;
    position: relative;
    background-color: #eee;
    background-image: url(../images/new_paper.jpg);
    background-size: cover;
    overflow-y: scroll;
}

#glossarypage-container {
    height: 100%;
    position: relative;
    background-color: #eee;
    background-image: url(../images/new_paper.jpg);
    background-size: cover;
    overflow-y: scroll;
}

#glossary {
    /*margin-top: 1.75em;*/
    margin-top: 8em;
    margin-left: 4em;
}

#glossary-defs-list h4 {
    text-decoration: underline;
    font-weight: bold;
}

#glossary-defs {
    /*font-size: 38px;*/
    /*font-size: 2EM;*/
    font-size:14px;
    margin-bottom: 4em;
}

#glossary-links {
    font-weight: bold;
}

#about-overlay {
    font-family: 'Raleway', sans-serif;
    visibility: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.485); /* #f8f8f8 */
    z-index: 2;
    cursor: pointer;
    cursor: default;
    overflow: hidden;
}

#about-text {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.no-overlay #about-overlay {
    visibility: hidden;
    height:0px;
    -webkit-transition: visibility 0.5s, height, 0.4s linear;
    -moz-transition: visibility 0.5s, height, 0.4s linear;
    -ms-transition: visibility 0.5s, height, 0.4s linear;
    -o-transition: visibility 0.5s, height, 0.4s linear;
    transition: visibility 0.5s, height, 0.4s linear;
}

#results-container {
    overflow-y: scroll;
}

#about-overlay h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1.25rem;
    max-width: 25rem;
    margin: 0 auto;
}

#about-overlay p, li {
    font-size: 1.75rem;
}

#about-overlay li {
    padding-bottom: 1.75rem;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

/* choose how wide to make tooltip*/
.tooltip-inner {
    min-width: 300px; 
    text-align: left; /* can be left too */
}
 
.dropdown-menu {
    background-color: #f8f8f8;
}

.dropdown-menu li a:hover {
    background-color: #e7e7e7;
}

.navbar {
    min-height: 55px;
    padding-top: 1px;
    border-bottom: 1.5px solid #77777A;
}

.navbar-brand {
    font-size: 27px;
    font-family: 'Cardo', serif;
    line-height: 7px;
}

.navbar-brand small {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 13px; padding-left: 5px;
    font-family: 'Raleway', sans-serif;
}

#sidebar-container {
    height: 100%;
    padding: 0; margin: 0;
    overflow-y: hidden;
    z-index: 999;
    background-color: #eee;
    border-right: 1px solid #77777A;
}

#search-container {
    padding: 15px 10px 5px 10px;
    border-bottom: 1.5px solid #77777A;

}
#search-bar, #search-filter-group .btn, #playlist-button, .sidebar-panel {
    border-radius: 0;
}

#search-filter-group .btn {
    background-color: #eee;
}

#search-filter-group .btn:hover {
    background-color: #d4d4d4;
}

#search-form, #search-form-group {
    padding: 0; margin: 0;
    padding-bottom: 3px;
}

#search-filter-group .btn {
    border: 0;
    padding: 7px;
}

#results-container {
    height: 100%;
    padding: 10px 10px 75px 10px;
    background-color: #eee;
    position: relative;
}

.results-panel {
    margin: 5px 0px 5px 0px;
    border-radius: 0;
}

.results-panel-body {
    padding: 0; margin: 0;
}

.results-add-playlist-button {
    position: absolute;
    left: 5px; top: 5px;
    color: white;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid white;
}

.results-add-playlist-button:hover {
    background-color: #d4d4d4;
}

.results-sidebar-media {
    position: relative;
    cursor: pointer;
}

.results-sidebar-media:hover {
    border: 1px solid black;
    margin:-1px;
}

.results-media-body {
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
}

.results-media-image {
    max-width: 50%;
}

.results-media-heading, .results-media-contributor {
    width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} /* Need to look for a more elegant way to do single- and multi-line ellipsis truncating... */

.results-media-heading {
    padding-top: 5px; margin: 0;
    font-weight: 400;
}

.results-media-contributor {
    margin-top: 0; padding-top: 0;
}

.results-media-abstract-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0; padding-bottom: 0;
}

#map-container {
    height: 100%;
    padding: 0; margin: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/new_paper.jpg);
    background-size: cover;
}

#vietnam-map-src {
    top: 50%;
    right: 0;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
}

#vietnam-map-src stroke, #vietnam-map-src text, #vietnam-map-src #rivers, #vietnam-map-src #trails {
    pointer-events: none;
}

#vietnam-map-src .highlight-layer { 
    opacity: 0; 
}

#vietnam-map-src #trails {
    opacity: 1;
}

#vietnam-map-src .highlight-layer:hover {
    opacity: 1;
    cursor: pointer;
}

#world-map {
    height: 15%; width: 20%;
    z-index: 999;
    opacity: 0.8;
    position: absolute;
    bottom: 15px; left: 15px;
    padding: 0; margin: 0;
    background-color: #DAF5EF;
    border: 1px solid black;

}

#world-map:hover {
    cursor: pointer;
    opacity: 1;
}

#world-map:hover #back-home-text {
    opacity: 1;
}

#social-media-corner {
    z-index: 999;
    position: absolute;
    bottom: 12px; right: 15px;
    text-align: center;
}

#social-media-corner a {
    color: black;
    height: 100%;
    font-size: 24px;
    margin: 2px;
    text-decoration: none;
}

.modal-body {
    margin-bottom: 0px;
    /*added 71118*/
    padding: 1px 15px 15px 15px;
}

.modal-lg {
    width: 90%;
}

.modal-content  {
    border: 1px solid black;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}

.modal, .modal-backdrop {
    position: absolute !important;
}

.modal-topic-contributor{
    margin-top: 2px;
}

.modal-topic-title {
    padding: 0; 
    /*margin: 0px 0px 0px 0px;*/
    margin:15px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px; padding-bottom: 5px;
}

.modal-keywords-items {
    padding-left: 10px;
    list-style-type: none;
}

.modal-keywords-title {
    padding-left: 10px; 
    margin: 0; 
    padding-top: 16px; padding-bottom: 5px;
}

.modal-topic-keyword {
    text-decoration: none;
    cursor: pointer;
}

.modal-topic-keyword:hover, .modal-topic-keyword:active, .modal-topic-keyword:visited {
    text-decoration: none;
}

.modal-playlist-topic-title {
    font-weight: bold;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    padding-top: 0; padding-bottom: 0;
    margin-bottom: 0; margin-top: 0;
}

.modal-playlist-entry, .modal-playlist-row {
    margin: 0; padding: 0;
}

.topic-playlist-video-frame {
    margin: 0; padding: 0;
}

.modal-topic-playlist-row {
    margin: 0; padding: 0;
    padding-bottom: 10px;
}

#region-info-panel {
    z-index: 999;
    position: relative;
    top: 20px; left: 15px;
    width: 40%; height: 35%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}

.region-detailed-name {
    font-size: 20px;
}

#region-detailed-info {
    height: 100%;
    overflow-y: scroll;
    font-size: 12px;
}

#region-detailed-map-container {
    height: 100%; 
    padding: 0; margin: 0; 
}

.region-detailed-image {
    height: 100%; width: 100%;
    background-size: cover;
    margin: 0; padding: 0;
}

.main-container{
    overflow: hidden;
}

#alphabetical-listing {
    letter-spacing: 1.50EM;
    font-weight: bold;
    margin: 2EM 0 1EM 1EM;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    letter-spacing: .50EM;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

#glossary-terms {
   margin-bottom: 2EM; 
}

#glossary-entries {
  margin: 0px 2EM 8EM 0px;
}

#related_videos {
   font-size: 14px; 
}

.close {
    margin-bottom:5px;
}

#simpleList {
    margin-bottom: 8em;
}
#yt-player {
    display: none;
}